@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@700&family=Poppins:wght@700&display=swap');

body {
    font-family: 'Anton', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
}
.responsive {
    width: 100%;
    height: auto;
  }
.carosel-height {
    height: 520px;
}
.card-header-color {
    color: #231D4F;
}
.special-card {
    background-color: #3F87F5;
    border-radius: 26px;
}
.special-card-button {
    background-color: #ffffff;
    padding: 14px 62px;
}
.card-button {
    background-color: #FEF5FA;
    padding: 14px 62px;
}
.link-style {
    text-decoration: none;
}